body {
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        //font-weight: <weight>;
        font-style: normal;
}

.fontBorder {
        -webkit-text-stroke: 0.3px white; /* width and color */
        font-family: arial; color: rgb(17, 24, 39);
        font-size: 150pt;
}

.div-h1-img {
    section {
        font-size: 35px;
        text-transform: uppercase;
        a {
            text-transform: none;
            font-size: 15px;
            
        }
        strong {
            color: #2663EB;
        }
    }
}