body{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(17,24,39,1) 100%);
    background: -webkit-linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(17,24,39,1) 100%);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(17,24,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#111827",GradientType=1);
    color: white;
}
header{
    margin: 1% 0;
    padding : 0;
    height: 20%;
    display: flex;
    justify-content: space-between;
    .logo{
        width: 15%;
        p{
            text-align: center;
            margin: 0;
        }
        &:after{
            content: " ";
            display: block;
            height: 1px;
            width: 100px;
            color: white;
        }
    }
    .nav{
        text-align: center;
        width: 70%;
        a{
            text-decoration: none;
            color: white;
            margin-right: 5px;
            text-align: center;
        }
    }
    .shopping-login{
        display: flex;
        flex-direction: row;
        width: 10%;
        text-align: center;
        img{
            width: 15%;
            margin-right: 5px;
        }
        i{
            margin-right: 5px;
        }
        a{
            text-decoration: none;
        }
        p{
            margin: 1% 0;
            font-size: 18px;
            margin-top: 1px;
        }
    }
}
