main{
    .div-h1-img{
        margin: 5% auto;
        display: flex;
        width: 80%;
        height: 100%;
        align-content: center;
        section {
            justify-content:space-around;
            width: 50%;
            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                background: rgb(4,134,189);
                background: linear-gradient(90deg, rgba(4,134,189,1) 0%, rgba(31,61,142,1) 100%);
                border-radius: 5px;
                justify-content: center;
                width: 35%;
                height: 30px;
            }
        }
        :nth-child(2){
            display: flex;
                img{
                    width: 60%;
                }
        }
    }
    .div-products{
        margin: 5% auto;
        
        .products{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                background-color: #3B82F6;
                border-radius: 3px;
                padding: 5%;
            }
            .product-info{
                width: 20%;
                img{
                    width: 20%; 
                }
            }
        }
    }
 

    .div-opinion{
        margin: 5% 0;
        display: flex;
        text-align: center;
        section{
            margin: 0 auto;
            width: 30%;
            img {
                border-radius: 100px;
                height: 80px;
                margin: 20px;
            }
            p{
                text-align: justify;
            }
        }
    }
    .fontBorder {
        top: 0px;
        position:absolute;
        z-index: -1;
    }
}