body {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(17, 24, 39) 100%);
  background: -webkit-linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(17, 24, 39) 100%);
  background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(17, 24, 39) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#111827",GradientType=1);
  color: white;
}

header {
  margin: 1% 0;
  padding: 0;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 15%;
}
header .logo p {
  text-align: center;
  margin: 0;
}
header .logo:after {
  content: " ";
  display: block;
  height: 1px;
  width: 100px;
  background: white;
}
header .nav {
  text-align: center;
  width: 70%;
}
header .shopping-login {
  display: flex;
  width: 15%;
}
header .shopping-login img {
  width: 10%;
  padding-right: 2%;
}
header .shopping-login p {
  margin: 0;
}