body {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(17, 24, 39) 100%);
  background: -webkit-linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(17, 24, 39) 100%);
  background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(17, 24, 39) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#111827",GradientType=1);
  color: white;
}

header {
  margin: 1% 0;
  padding: 0;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 15%;
}
header .logo p {
  text-align: center;
  margin: 0;
}
header .logo:after {
  content: " ";
  display: block;
  height: 1px;
  width: 100px;
  color: white;
}
header .nav {
  text-align: center;
  width: 70%;
}
header .nav a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  text-align: center;
}
header .shopping-login {
  display: flex;
  flex-direction: row;
  width: 10%;
  text-align: center;
}
header .shopping-login img {
  width: 15%;
  margin-right: 5px;
}
header .shopping-login i {
  margin-right: 5px;
}
header .shopping-login a {
  text-decoration: none;
}
header .shopping-login p {
  margin: 1% 0;
  font-size: 18px;
  margin-top: 1px;
}

main .div-h1-img {
  margin: 5% 5%;
  display: flex;
}
main .div-h1-img .h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 90px;
}
main .div-h1-img .h1 h1 {
  text-transform: uppercase;
  font-size: 50px;
}
main .div-h1-img .h1 h1 strong {
  color: blue;
}
main .div-h1-img .h1 button {
  background-color: blue;
  text-align: left;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 0.5rem;
}
main .div-h1-img .h2 {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
main .div-h1-img .h2 h2 {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: rgba(232, 226, 226, 0.5);
  z-index: 1;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 200px;
  justify-content: center;
}
main .div-h1-img .h2 img {
  width: 70%;
  display: block;
  position: relative;
  z-index: 2;
  margin-left: 65px;
}
main .div-products {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 40px;
}
main .div-products h3 {
  margin-left: 80px;
  margin-bottom: 40px;
}
main .div-products h3 strong {
  color: blue;
}
main .div-products .products {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
main .div-products .products .product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
main .div-products .products .product-info img {
  width: 40%;
  margin-left: 20px;
}
main .div-products .products .product-info p {
  font-size: 18px;
}
main .div-products .products .product-info button {
  margin-left: 20px;
  padding: 5px;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 0.5rem;
}
main .shoe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .shoe img {
  width: 25%;
}
main .shoe h2 {
  font-size: 50px;
  text-transform: uppercase;
}
main .shoe h2 strong {
  color: blue;
}
main .div-opinion {
  margin: 5% 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .div-opinion section {
  margin: 10px;
  width: 20%;
}
main .div-opinion section img {
  border-radius: 100px;
  height: 80px;
  margin: 20px;
}
main .div-opinion section p {
  text-align: justify;
}

footer {
  margin-top: 2%;
  text-align: center;
}
footer nav a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  margin-bottom: 50px;
}